<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzhen.dao.OrderInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yanzhen.model.OrderInfo">
                    <id column="id" property="id"/>
                    <result column="user_id" property="userId"/>
                    <result column="day" property="day"/>
                    <result column="day_time" property="dayTime"/>
                    <result column="patient_id" property="patientId"/>
                    <result column="status" property="status"/>
                    <result column="dept_id" property="deptId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, user_id, day, day_time, patient_id, status, dept_id
        </sql>

    <resultMap id="queryOrderInfoByAllMap" type="com.yanzhen.model.OrderInfo" extends="BaseResultMap">
         <association property="user" javaType="com.yanzhen.model.User">
             <id  column="id" property="id"></id>
             <result column="username" property="username"></result>
         </association>

        <association property="patientInfo" javaType="com.yanzhen.model.PatientInfo">
            <id  column="id" property="id"></id>
            <result column="pname" property="username"></result>
            <result column="tel" property="tel"></result>
        </association>
    </resultMap>

    <select id="queryOrderInfoByAll"  parameterType="com.yanzhen.model.OrderInfo"
            resultMap="queryOrderInfoByAllMap">
        select info.*,u.username,u.info,p.username as pname,p.tel
         from order_info info left join `user` u on u.id=info.user_id
        LEFT JOIN patient_info p on p.id=info.patient_id
        <where>
             <if test="patientInfo!=null">
                 <if test="patientInfo.username!=null and patientInfo.username!=''">
                      and p.username like '%${patientInfo.username}%'
                 </if>
                 <if test="patientInfo.tel!=null and patientInfo.tel!=''">
                     and p.tel like '%${patientInfo.tel}%'
                 </if>
             </if>
            <if test="status!=null">
                and info.status= #{status}
            </if>
            <if test="userId!=null">
                and info.user_id= #{userId}
            </if>
            <if test="patientId!=null">
                and info.patient_id= #{patientId}
            </if>
        </where>
    </select>

    <select id="queryByOrderInfo2" resultType="com.yanzhen.model.OrderInfo" parameterType="com.yanzhen.model.OrderInfo">
         select * from order_info where user_id=#{userId} and patient_id = #{patientId}
         order by id desc limit 1
    </select>

</mapper>