<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzhen.dao.UserMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yanzhen.model.User">
                    <id column="id" property="id"/>
                    <result column="username" property="username"/>
                    <result column="password" property="password"/>
                    <result column="dept_id" property="deptId"/>
                    <result column="role_name" property="roleName"/>
                    <result column="images" property="images"/>
                    <result column="realname" property="realname"/>
                    <result column="sex" property="sex"/>
                    <result column="tel" property="tel"/>
                    <result column="email" property="email"/>
                    <result column="avatar" property="avatar"/>
                    <result column="job_title" property="jobTitle"/>
                    <result column="status" property="status"/>
                    <result column="info" property="info"/>
                    <result column="sort" property="sort"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="create_time" property="createTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, username, password, dept_id, role_name, images, realname, sex, tel, email, avatar, job_title, status, info, sort, del_flag, create_by, update_time, create_time
        </sql>


    <select id="findUserByNameAndPwd" resultType="com.yanzhen.model.User"
            parameterType="com.yanzhen.model.User">

      select * from user
        where username=#{username} and password=#{password}
        and role_name=#{roleName}

    </select>

    <resultMap id="queryUserAllMap" type="com.yanzhen.model.User" extends="BaseResultMap">
      <association property="dept" javaType="com.yanzhen.model.Dept">
          <id column="id" property="id"></id>
          <result column="name" property="name"></result>
      </association>
    </resultMap>

    <select id="queryUserAll" parameterType="com.yanzhen.model.User"
            resultMap="queryUserAllMap">
         SELECT
            u.*, d.`name`
        FROM
            USER u
        LEFT JOIN dept d ON d.id = u.dept_id
        <where>
            <if test="username!=null and username!=''">
               and username like '%${username}%'
            </if>
            <if test="email!=null and email!=''">
                and email like '%${email}%'
            </if>
            <if test="deptId!=null ">
                and dept_id =#{deptId}
            </if>
            <if test="id!=null">
                and u.id =#{id}
            </if>
        </where>
    </select>


    <select id="queryTongjiCounts" resultType="com.yanzhen.model.TongJi">
        SELECT COUNT(*) as counts,name from user u LEFT JOIN dept d on d.id=u.dept_id GROUP BY dept_id
    </select>

</mapper>